<section *ngIf="phase1" class="rounded">
    <h2 class="fw-bolder h3 py-2">please enter your email</h2>
    <form [formGroup]="forgetForm" (ngSubmit)="forgotPassword()">
        <input formControlName="email" class="form-control py-3" type="email" id="email" placeholder="Email">
        <div *ngIf="forgetForm.get('email')?.errors && (forgetForm.get('email')?.touched || forgetForm.get('email')?.value.length>0)" class="alert alert-danger mt-2">
            <span *ngIf="forgetForm.get('email')?.getError('required')">email is required</span>
            <span *ngIf="forgetForm.get('email')?.getError('email')">invalid format</span>
        </div>
        <p *ngIf="msg" class="alert alert-warning mt-2">{{msg}}</p>
        <button class="btn btn-lg btn-outline-success my-3">verify</button>
    </form>
</section>

<section *ngIf="phase2" class="rounded">
    <h2 class="fw-bolder h3 py-2">Plz enter reset code</h2>
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <input formControlName="resetCode" class="form-control py-3" type="text" id="resetCode" placeholder="Code">
        <div *ngIf="resetCodeForm.get('resetCode')?.errors && (resetCodeForm.get('resetCode')?.touched || resetCodeForm.get('resetCode')?.value.length>0)" class="alert alert-danger mt-2">
            <span *ngIf="resetCodeForm.get('resetCode')?.getError('required')">reset code is required</span>
        </div>
        <p *ngIf="msg" class="alert alert-warning mt-2">{{msg}}</p>
        <button class="btn btn-lg btn-outline-success my-3">send</button>
    </form>
</section>

<section *ngIf="phase3" class="rounded">
    <h2 class="fw-bolder h3 py-2">reset password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <input formControlName="newPassword" class="form-control py-3 mt-3" type="password" id="newPassword" placeholder="newPassword">
        <div *ngIf="resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.value.length>0)" class="alert alert-danger">
            <span *ngIf="resetPasswordForm.get('password')?.getError('required')">new password is required</span>
            <span *ngIf="resetPasswordForm.get('password')?.getError('pattern')">new password must be at least 6 chars</span>
        </div>
        <p *ngIf="msg" class="alert alert-warning mt-2">{{msg}}</p>
        <button class="btn btn-lg btn-outline-success my-3">reset password</button>
    </form>
</section>