<section>
    <div class="row g-4 p-5 align-items-center">
        <div class="col-md-3 p-4">
            <owl-carousel-o [options]="productSlider">
                <ng-container *ngFor="let item of productDetails.images">
                    <ng-template carouselSlide>
                    <img [src]="item">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        
        <div class="col-md-9">
            <div>
                <h3 class="pb-2"> {{productDetails.title}} </h3>
                <p class="pb-2"> {{productDetails.description}} </p>
                <div class="py-2 d-flex justify-content-between align-items-center">
                    <span>{{ productDetails.price + " EGP"}}</span>
                    <span>
                        <i class="fas fa-star rating-color"></i>{{productDetails.ratingsAverage}}
                    </span>
                </div>
                <div class="py-2 mx-auto">
                <button (click)="addProduct(productDetails._id)" class="main-btn w-75"> +Add To Cart </button>
                </div>
            </div>
        </div>
    </div>
</section>