$main-color: #0aad0a;

.forget{
    &:hover{
        color:$main-color ;
    }
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}